.ccs {
    background-image: url('../../img/containeer.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    max-width: 650px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.form-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 90%;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    background-color: #34a8eb;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #2780e6;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.success-message {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}